<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("partials/nav.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>characters</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"></script>
    <link href="/css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="container mt-4 p-4 rounded-4" id="cardContainer">
    <div class="d-flex flex-column align-items-center" id="column">
      <% characters.forEach(char=> { %>
        <div class="mb-4 d-flex justify-content-center" id="centerPiece">
          <%- include("partials/charCard.ejs", { character: char }) %>
        </div>
        <% }); %>
    </div>

    <div class="text-center mt-4 mb-3">
      <% if (prevPage !==null) { %>
        <a href="/characters?page=<%= prevPage %>" class="btn btn-secondary mx-2">Previous</a>
        <% } %>
          <% if (nextPage !==null) { %>
            <a href="/characters?page=<%= nextPage %>" class="btn btn-success mx-2">Next</a>
            <% } %>
    </div>
    <p class="text-center text-muted mb-0">Page <%= currentPage %>
    </p>
  </div>
</body>



</html>