<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link href="/css/styles.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Character</title>
</head>

<body>
  <%- include("partials/nav.ejs") %>

  <div class="container mt-4 p-4 rounded-4" id="cardContainer">
    <div class="d-flex flex-column align-items-center" id="column">
      <h3><%= character.name %></h3>
      <img src="<%= character.image %>" alt="<%= character.name %>">

      <p>
        Status: <%= character.status %> |
        Species: <%= character.species %> |
        Gender: <%= character.gender %>
      </p>

      <p>
        Origin: <%= character.origin.name %> |
        Featured in <%= character.episode.length %> episodes
      </p>

      <% if (residents && residents.length > 0) { %>
        <br>
        <h3>These characters are also from <%= character.origin.name %></h3>

        <div class="d-flex flex-column align-items-center" id="column">
          <% residents.forEach(char => { %>
            <div class="mb-4 d-flex justify-content-center" id="centerPiece">
              <%- include("partials/charCard.ejs", { character: char }) %>
            </div>
          <% }) %>
        </div>
      <% } %>
    </div>
  </div>
  <%- include("partials/footer.ejs") %>
</body>


</html>