<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>search</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<%- include("partials/nav.ejs") %>

<div class="container mt-4 p-4 rounded-4" id="cardContainer">
  <div class="d-flex flex-column align-items-center" id="column">
    <h2>Search by location</h2>
    <form id="locationForm" action="/explore/location" method="GET">
      <select name="locationId" class="form-select w-auto">
        <option value="">Select One</option>
        <% locations.forEach(loc => { %>
          <option value="<%= loc.locationId %>"><%= loc.name %></option>
        <% }) %>
      </select>
      <button class="btn btn-outline-success">Search</button>
    </form>

    <% if (selected) { %>
      <br>
      <div class="mt-4 text-center">
        <h3>Results for <%= selected.name %></h3>
        <h4> Type: <%= selected.type %></h4>
        <h4> Dimension: <%= selected.dimension %></h4>
      </div>
      <br>
    <% } %>

    <% if (residents && residents.length > 0) { %>
      <h3>Residents of <%= selected.name %></h3>
      <% residents.forEach(char => { %>
        <div class="mb-4 d-flex justify-content-center" id="centerPiece">
          <%- include("partials/charCard.ejs", { character: char }) %>
        </div>
      <% }) %>
    <% } else if (selected) { %>
      <p class="mt-4 text-center text-muted">No known residents.</p>
    <% } %>

  </div>
</div>
  <%- include("partials/footer.ejs") %>
</body>
</html>